* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* Parte Titulo*/
#contenedor {
  height: 50vh;
  background-color: grey;
  display: flex;
  flex-direction: row;
  background: linear-gradient(to left, #e66465, #9198e5);
}

/* Parte del titulo*/
#linea{
  margin-left: 6vw;
  margin-top: 10vh;
  height: 35vh;
  border: solid white 1px;
}

#titulo {
  width: 30vw;
  height: 35vh;
  margin-left: 3vw;
  margin-top: 10vh;
  color: white;
}

#titulo h1 {
  margin-bottom: 2vh;
  font-size: 3.5rem;  
}

#titulo hr {
  width: 3vw;
  margin-bottom: 2.5vh;
}

#titulo p {
  font-size: 1.5rem;
  font-family: "helvetica neue", sans-serif;
}

/* Barra de navegacion */
.nav {
  height: 10vh;
  width: 50vw;
  margin-top: 37vh;
  margin-left: 5vh;
}
.menu {
  margin:0;
  width: 50vw;
  height: 10vh;
}
.menu a {
  text-decoration: none;
  color: white;
  margin-right: 4vw;
  padding-right: 2vw;
  line-height: 10vh;
  border-right: 2px solid rgb(230, 230, 230);
  font-size: 1.3rem;
}

.menu a:hover {
  color: grey;
}

label {
  margin: 0 0 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}
#toggle {
  display: none;
}


@media only screen and (max-width: 500px) {
  #contenedor {
    height: 80vh;
    width: 100vw;
    background-color: grey;
    display: flex;
    flex-direction: row;
    background: linear-gradient(to left, #e66465, #9198e5);
  }
  /*titulo Responsive*/
  #linea{
    display: none;
  }
  
  #titulo {
    width: 40vw;
    height: 30vh;
    margin-left: 7vw;
    margin-top: 30vh;
    color: white;
  }
  
  #titulo h1 {
    margin-bottom: 1vh;
    font-size: 2.8rem;
  }
  
  #titulo hr {
    width: 8vw;
    margin-bottom: 1vh;
  }
  
  #titulo p {
    font-size: 1.1rem;
    font-family: "helvetica neue", sans-serif;
    
  }

  /*barra de navegacion responsive*/
  .nav {
    text-align: none;
    padding: 0;
    height: 45vh;
    width: 40vw;
    margin-left: 2vw;
    margin-top: 4vh;
    display: block;
    color: white;
  }
  label {
      height: 7vh;
      display: flex;
      cursor: pointer;
      align-items: center;
      margin:0;

  }
  .menu {
      display: none;
      height: 41vh;
      width: 22vw;
      margin: 7vw 0 0 10vw;

  }
  .menu a {
      height:10vh;
      display: flex;
      border-bottom: 1px solid #EAEAEB;
      color: white;
      font-size: 1rem;
      width: 22vw;
      align-items: center;
      margin-right: 0px;
      padding-right: 0px;
      border-right: none;
      padding-left: 1.5vh;
      font-weight: 600;
  }
  #toggle:checked + .menu {
      display: inline-block;
  }
}

/* Parte Servicios */

#contenedorServicios {
  height: 50vh;
  display: flex;
}

#contenedorServicios h4 {
  width: 7vw;
  height: 5vh;
  color: #9198e5;
  transform: rotate(270deg);
  margin: 11vh 0 0 3vw;
  font-size: 1.2rem;
  font-weight: 200;
}

#contenedorServicios_tarjetas {
  width: 80vw;
  height: 50vh;
  margin-left: 4vw;
}

#comunity{
  padding: 20px;
  height: 30vh;
  width: 20vw;
  border: 2px solid rgb(85, 81, 81);
  border-radius: 3px;
  background-color: white;
  z-index: 1;
  position: relative;
  top: 9vh;
  left: 3vw;
}
#comunity::after{
  content: "";
  display: block;
  width: 0.5vw;
  height: 8vh;
  background-color:#9198e5;
  position: relative;
  top: -29.5vh;
  left: 16.5vw;
}
#comunity_lineas {
  height: 30vh;
  width: 20vw;
  border: 2px solid #9198e5;
  border-radius: 3px;
  background-color: white;
  position: relative;
  left: 4vw;
  top: -18vh;
}
#comunity_titulo {
  height: 10vh;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  color: rgb(71, 66, 66);
  width: 15vw;
  margin-bottom: 1.5vh;
}

#branding{
  padding: 20px;
  height: 30vh;
  width: 20vw;
  border: 2px solid  rgb(85, 81, 81);
  border-radius: 3px;
  position: relative;
  background-color: white;
  z-index: 1;
  top: -51vh;
  left: 30vw;
}
#branding::after{
  content: "";
  display: block;
  width: 0.5vw;
  height: 8vh;
  background-color:#9198e5;
  position: relative;
  top: -29.5vh;
  left: 16.5vw;
}
#branding_lineas {
  height: 30vh;
  width: 20vw;
  border: 2px solid #9198e5;
  border-radius: 3px;
  position: relative;
  left: 31vw;
  top: -78vh;
}
#branding_titulo {
  height: 10vh;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  color: rgb(71, 66, 66);
  width: 15vw;
  margin-bottom: 1.5vh;
}

#comunicacion{
  padding: 20px;
  height: 30vh;
  width: 20vw;
  border: 2px solid  rgb(85, 81, 81);
  border-radius: 3px;
  position: relative;
  background-color: white;
  z-index: 1;
  top: -111vh;
  left: 57vw;
}
#comunicacion::after{
  content: "";
  display: block;
  width: 0.5vw;
  height: 8vh;
  background-color:#9198e5;
  position: relative;
  top: -29.5vh;
  left: 16.5vw;
}
#comunicacion_lineas {
  height: 30vh;
  width: 20vw;
  border: 2px solid #9198e5;
  border-radius: 3px;
  background-color: white;
  position: relative;
  left: 58vw;
  top: -138vh;
}
#comunicacion_titulo {
  height: 10vh;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  color: rgb(71, 66, 66);
  width: 15vw;
  margin-bottom: 1.5vh;
}
/* Parte Servicios Mobile */

@media only screen and (max-width: 500px) {
  #contenedorServicios {
    width: auto;
    height: 150vh;
    display: flex;
    flex-direction: column;
  }
  
  #contenedorServicios h4 {
    width: 35vw;
    height: 3vh;
    color: #9198e5;
    transform: none;
    margin: 6vh 0 0vh 12vw;
    font-size: 1.1rem; 
    font-weight: 200; 
  }
  
  #contenedorServicios_tarjetas {
    width: 95vw;
    height: 140vh;
    margin-left: 2.5vw;
  }
  
  #comunity{
    padding: 20px;
    height: 30vh;
    width: 70vw;
    border: 2px solid rgb(85, 81, 81);
    border-radius: 3px;
    background-color: white;
    z-index: 1;
    position: relative;
    top: 5vh;
    left: 10vw;
  }
  #comunity::after{
    content: "";
    display: block;
    width: 2vw;
    height: 8vh;
    background-color:#9198e5;
    position: relative;
    top: -29.5vh;
    left: 54vw;
  }
  #comunity_lineas {
    height: 30vh;
    width: 70vw;
    border: 2px solid #9198e5;
    border-radius: 3px;
    position: relative;
    left: 14vw;
    top: -22vh;
  }
  #comunity_titulo {
    height: 10vh;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: rgb(71, 66, 66);
    width: 15vw;
    margin-bottom: 1.5vh;
  }
  
  #branding{
    padding: 20px;
    height: 30vh;
    width: 70vw;
    border: 2px solid rgb(85, 81, 81);
    border-radius: 3px;
    background-color: white;
    z-index: 1;
    position: relative;
    top: -12vh;
    left: 10vw;
  }
  #branding::after{
    content: "";
    display: block;
    width: 2vw;
    height: 8vh;
    background-color:#9198e5;
    position: relative;
    top: -29.5vh;
    left: 54vw;
  }
  #branding_lineas {
    height: 30vh;
    width: 70vw;
    border: 2px solid #9198e5;
    border-radius: 3px;
    position: relative;
    left: 14vw;
    top: -39vh;
  }
  #branding_titulo {
    height: 10vh;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: rgb(71, 66, 66);
    width: 15vw;
    margin-bottom: 1.5vh;
  }
  
  #comunicacion{
    padding: 20px;
    height: 30vh;
    width: 70vw;
    border: 2px solid rgb(85, 81, 81);
    border-radius: 3px;
    background-color: white;
    z-index: 1;
    position: relative;
    top: -29vh;
    left: 10vw;
  }
  #comunicacion::after{
    content: "";
    display: block;
    width: 2vw;
    height: 8vh;
    background-color:#9198e5;
    position: relative;
    top: -29.5vh;
    left: 54vw;
  }
  #comunicacion_lineas {
    height: 30vh;
    width: 70vw;
    border: 2px solid #9198e5;
    border-radius: 3px;
    position: relative;
    left: 14vw;
    top: -56vh;
  }
  #comunicacion_titulo {
    height: 10vh;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: rgb(71, 66, 66);
    width: 15vw;
    margin-bottom: 1.5vh;
  }
 }
 @media only screen and (max-width: 350px) {
  #contenedorServicios h3 {
    font-size: 1.3rem;
  }
  #contenedorServicios p{
    font-size: 0.8rem;
  }
 }
/* Parte Proyectos */

#contenedorProyectos {
  height: 50vh;
  display: flex;
  background: linear-gradient(to left, #e66465, #9198e5);
}

#contenedorProyectos h4 {
  width: 7vw;
  height: 5vh;
  color: white;
  transform: rotate(270deg);
  margin: 11vh 0 0 3vw;
  font-size: 1.2rem;
  font-weight: 200;
}

#contenedorProyectos_imagenes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95vw;
}
.imagenesProyectos1 {
  display: flex;
  flex-wrap: wrap;
  width: 19.9vw;
  height: 33vh;
}
.imagenesProyectos2 {
  display: flex;
  flex-wrap: wrap;
  width: 19.9vw;
  height: 33vh;
}
.imagenesProyectos3 {
  display: flex;
  flex-wrap: wrap;
  width: 19.9vw;
  height: 33vh;
}

.imagenesProyectos1 img {
  margin: 0 0  0 1px;
  border: 1px solid white;
  width: 6.5vw;
  height: 11vh;
  background-color: white;
}
.imagenesProyectos2 img {
  margin: 0 0  0 1px;
  border: 1px solid white;
  width: 6.5vw;
  height: 11vh;
  background-color: white;
}
.imagenesProyectos3 img {
  margin: 0 0  0 1px;
  border: 1px solid white;
  width: 6.5vw;
  height: 11vh;
  background-color: white;
}

/* Parte Proyectos Responsive */

@media only screen and (max-width: 500px) {
  #contenedorProyectos {
    height: 140vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left, #e66465, #9198e5);
  }
  
  #contenedorProyectos h4 {
    width: 35vw;
    height: 3vh;
    color: white;
    transform: none;
    margin: 6vh 0 0vh 12vw;
    font-size: 1.1rem; 
    font-weight: 200; 
  }
  
  #contenedorProyectos_imagenes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 95vw;
    height: 120vh;
    margin-top: 4vh;
  }
  .imagenesProyectos1 {
    display: flex;
    flex-wrap: wrap;
    width: 70.1vw;
    height: 35vh;
  }
  .imagenesProyectos2 {
    display: flex;
    flex-wrap: wrap;
    width: 70.1vw;
    height: 35vh;
  }
  .imagenesProyectos3 {
    display: flex;
    flex-wrap: wrap;
    width: 70.1vw;
    height: 35vh;
  }
  
  .imagenesProyectos1 img {
    margin: 0 0  0 1px;
    border: 0.1px solid white;
    width: 22.9vw;
    height: 11.6vh;
  }
  .imagenesProyectos2 img {
    margin: 0 0  0 1px;
    border: 0.1px solid white;
    width: 22.9vw;
    height: 11.6vh;
  }
  .imagenesProyectos3 img {
    margin: 0 0  0 1px;
    border: 0.1px solid white;
    width: 22.9vw;
    height: 11.6vh;
  }
 }

 /* Parte Nosotros */

#contenedorNosotros_superior {
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
#contenedorNosotros_superior h4 {
  width: 7vw;
  height: 5vh;
  color: #9198e5;
  transform: rotate(270deg);
  margin: 11vh 0 0 3vw;
  font-size: 1.2rem;
  font-weight: 200;
}
#contenedorNosotros_superior_contenido {
  width: 80vw;
  height: 50vh;
  margin-left: 6vw;
  display: flex;
  flex-direction: row;
}
#contenedorNosotros_superior_titulo {
  margin-right: 1vw;
  width: 27vw;
  height: 22vh;
  margin-top: 11vh;
  padding: 10px;
  font-size: 2.5rem;
  border-right: 2px solid #9198e5;
}
#contenedorNosotros_superior hr {
  height: 22vh;
  margin-top: 13vh;
  border: 1px solid rgb(129, 119, 119);
}
#contenedorNosotros_superior_pautas {
  width: 40vw;
  margin-left: 4vw;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 35vh;
}

#contenedornosotros_inferior {
  height: 60vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
#contenedornosotros_inferior h4 {
  width: 7vw;
  height: 5vh;
  color:white;
  transform: rotate(270deg);
  margin: 11vh 0 0 3vw;
  font-size: 1.2rem;
  font-weight: 200;
}

#contenedornosotros_inferior_tarjetas {
  width: 80vw;
  height: 50vh;
  margin-left: 4vw;
}

#basic{
  padding: 15px;
  height: 38vh;
  width: 17vw;
  border: 2px solid rgb(85, 81, 81);
  border-radius: 3px;
  background-color: white;
  z-index: 1;
  position: relative;
  top: 4vh;
  left: 3vw;
}
#basic::after{
  content: "";
  display: block;
  width: 4vw;
  height: 1vh;
  background-color:#9198e5;
  position: relative;
  top: -20vh;
  left: 13.7vw;
}
#basic_lineas {
  height: 38vh;
  width: 17vw;
  border: 2px solid #9198e5;
  border-radius: 3px;
  background-color: white;
  position: relative;
  left: 2vw;
  top: -31vh;
}
#basic_titulo {
  height: 10vh;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  color: rgb(71, 66, 66);
  width: 15vw;
  margin-bottom: 1.5vh;
}

#intense{
  padding: 15px;
  height: 38vh;
  width: 17vw;
  border: 2px solid  rgb(85, 81, 81);
  border-radius: 3px;
  position: relative;
  background-color: white;
  z-index: 1;
  top: -72vh;
  left: 30vw;
}
#intense::after{
  content: "";
  display: block;
  width: 4vw;
  height: 1vh;
  background-color:#9198e5;
  position: relative;
  top: -20vh;
  left: 13.7vw;
}
#intense_lineas {
  height: 38vh;
  width: 17vw;
  border: 2px solid #9198e5;
  border-radius: 3px;
  position: relative;
  left: 29vw;
  top: -107vh;
}
#intense_titulo {
  height: 10vh;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  color: rgb(71, 66, 66);
  width: 15vw;
  margin-bottom: 1.5vh;
}

#full{
  padding: 15px;
  height: 38vh;
  width: 17vw;
  border: 2px solid  rgb(85, 81, 81);
  border-radius: 3px;
  position: relative;
  background-color: white;
  z-index: 1;
  top: -148vh;
  left: 57vw;
}
#full::after{
  content: "";
  display: block;
  width: 4vw;
  height: 1vh;
  background-color:#9198e5;
  position: relative;
  top: -20vh;
  left: 13.7vw;
}
#full_lineas {
  height: 38vh;
  width: 17vw;
  border: 2px solid #9198e5;
  border-radius: 3px;
  position: relative;
  left: 56vw;
  top: -183vh;
}
#full_titulo {
  height: 10vh;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  color: rgb(71, 66, 66);
  width: 15vw;
  margin-bottom: 1.5vh;
}

/* Parte Nosotros Responsive */
@media only screen and (max-width: 500px) {
  #contenedorNosotros_superior {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  #contenedorNosotros_superior h4 {
    width: 35vw;
    height: 3vh;
    color: #9198e5;
    transform: none;
    margin: 6vh 0 0vh 12vw;
    font-size: 1.1rem; 
    font-weight: 200; 
  }
  #contenedorNosotros_superior_contenido {
    width: 90vw;
    height: 80vh;
    margin-left: 6vw;
    display: flex;
    flex-direction: column;
  }
  #contenedorNosotros_superior_titulo {
    margin-right: 1vw;
    width: 80vw;
    height: 24vh;
    margin-top: 4vh;
    padding: 10px;
    margin-left: 3vw;
    font-size: 2.5rem;
    border-right: none;
  }
  #contenedorNosotros_superior hr {
    height: 0vh;
    margin-top: 0vh;
    border: 1px solid rgb(0, 0, 0);
    transform: rotate(270deg);
    position: relative;
    left: -18vw;
    width: 50vw;
    top: 29vh;
  }
  #contenedorNosotros_superior_pautas {
    width: 90vw;
    margin-left: 0vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
    border-left: 2px solid #9198e5;
    font-size: 1.1rem;
    padding-left: 18vw;
  }


  #contenedornosotros_inferior {
    width: 99vw;
    height: 180vh;
    display: flex;
    flex-direction: column;
  }
  #contenedornosotros_inferior h4 {
    display: none;
  }
  
  #contenedornosotros_inferior_tarjetas {
    width: 95vw;
    height: 140vh;
    margin-left: 5vw;
  }
  
  #basic{
    padding: 20px;
    height: 41vh;
    width: 65vw;
    border: 2px solid rgb(85, 81, 81);
    border-radius: 3px;
    background-color: white;
    z-index: 1;
    position: relative;
    top: 5vh;
    left: 12vw;
  }
  #basic::after{
    content: "";
    display: block;
    width: 14vw;
    height: 1vh;
    background-color:#9198e5;
    position: relative;
    top: -23vh;
    left: 51.5vw;
  }
  #basic_lineas {
    height: 41vh;
    width: 65vw;
    border: 2px solid #9198e5;
    border-radius: 3px;
    background-color: white;
    position: relative;
    left: 9vw;
    top: -33vh;
  }
  #basic_titulo {
    height: 10vh;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: rgb(71, 66, 66);
    width: 60vw;
    margin-bottom: 1vh;
  }
  #basic p {
    font-size: 1rem;
  }
  
  #intense{
    padding: 20px;
    height: 41vh;
    width: 65vw;
    border: 2px solid rgb(85, 81, 81);
    border-radius: 3px;
    background-color: white;
    z-index: 1;
    position: relative;
    top: -20vh;
    left: 12vw;
  }
  #intense::after{
    content: "";
    display: block;
    width: 14vw;
    height: 1vh;
    background-color:#9198e5;
    position: relative;
    top: -23vh;
    left: 51.5vw;
  }
  #intense_lineas {
    height: 41vh;
    width: 65vw;
    border: 2px solid #9198e5;
    border-radius: 3px;
    background-color: white;
    position: relative;
    left: 9vw;
    top: -59vh;
  }
  #intense_titulo {
    height: 10vh;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: rgb(71, 66, 66);
    width: 60vw;
    margin-bottom: 1vh;
  }
  #intense p {
    font-size: 1rem;
  }
  
  #full{
    padding: 20px;
    height: 41vh;
    width: 65vw;
    border: 2px solid rgb(85, 81, 81);
    border-radius: 3px;
    background-color: white;
    z-index: 1;
    position: relative;
    top: -45vh;
    left: 12vw;
  }
  #full::after{
    content: "";
    display: block;
    width: 14vw;
    height: 1vh;
    background-color:#9198e5;
    position: relative;
    top: -23vh;
    left: 51.5vw;
  }
  #full_lineas {
    height: 41vh;
    width: 65vw;
    border: 2px solid #9198e5;
    border-radius: 3px;
    position: relative;
    left: 9vw;
    top: -84vh;
  }
  #full_titulo {
    height: 10vh;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: rgb(71, 66, 66);
    width: 60vw;
    margin-bottom: 1vh;
  }
  #full p {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 350px) {
  #contenedorNosotros_superior h2 {
    font-size: 4rem;
  }
  #contenedornosotros_inferior h3 {
    font-size: 1.3rem;
  }
  #contenedornosotros_inferior p{
    font-size: 0.86rem;
  }
  #contenedorNosotros_superior_pautas {
    font-size: 0.9rem;
  }
 }

/* Parte Contacto */
#contenedorContacto {
  height: 50vh;
  display: flex;
  background: linear-gradient(to left, #e66465, #9198e5);
}
 /* Parte Contacto titulo */
#contenedorContacto h4 {
  width: 7vw;
  height: 5vh;
  color: white;
  transform: rotate(270deg);
  margin: 11vh 0 0 3vw;
  font-size: 1.2rem;
  font-weight: 200;
}
 /* Parte Contacto formulario */
#contenedorContacto form {
  border: 2px solid black;
  border-radius: 2px;
  height: 30vh;
  margin: 10vh 0vw 0vw 3vw;
  width: 40vw;
  padding: 18px;
}

#contenedorContacto #name {
  width: 17.8vw;
  border: 0.1rem solid rgb(63, 60, 60);
  margin-right: 1vw;
  margin-bottom: 2vh;
  height: 4vh;
  padding-left: 0.5vw;
}
#contenedorContacto #mail {
  width: 17.8vw;
  border: 0.1rem solid rgb(63, 60, 60);
  margin-bottom: 2vh;
  float: right;
  height: 4vh;
  padding-left: 0.5vw;
}
#contenedorContacto #message {
  border: 0.1rem solid rgb(63, 60, 60);
  width: 37.1vw;
  height: 12vh;
  resize: none;
  padding: 0.5vw;
}
#contenedorContacto #botonEnviar {
  width: 17.8vw;
  border: 0.1rem solid rgb(63, 60, 60);
  margin-top: 2vh;
  float: right;
  background-color: black;
  color: white;
  height: 4vh;
  font-weight: 750;
}

/* Parte Contacto responsive */
@media only screen and (max-width: 500px){
  #contenedorContacto {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left, #e66465, #9198e5);
  }
   /* Parte Contacto titulo responsive*/
  #contenedorContacto h4 {
    width: 35vw;
    height: 3vh;
    color: white;
    transform: none;
    margin: 6vh 0 0vh 12vw;
    font-size: 1.1rem; 
    font-weight: 200; 
  }
   /* Parte Contacto formulario responsive */
  #contenedorContacto form {
    border: 2px solid black;
    border-radius: 2px;
    height: 52vh;
    margin: 4vh 0vw 0vw 10vw;
    width: 80vw;
    padding: 3.5vw;
  }
  #contenedorContacto #name {
    width: 71vw;
    border: 0.1rem solid rgb(63, 60, 60);
    margin-right: 0vw;
    margin-bottom: 2.5vh;
    height: 5vh;
    padding-left: 2vw;
  }
  #contenedorContacto #mail {
    width: 71vw;
    border: 0.1rem solid rgb(63, 60, 60);
    margin-bottom: 2.5vh;
    float: left;
    height: 5vh;
    padding-left: 2vw;
  }
  #contenedorContacto #message {
    border: 0.1rem solid rgb(63, 60, 60);
    width: 71vw;
    height: 24vh;
    resize: none;
    padding: 2vw;
  }
  #contenedorContacto #botonEnviar {
    width: 71vw;
    border: 0.1rem solid rgb(63, 60, 60);
    margin-top: 2.5vh;
    float: right;
    background-color: black;
    color: white;
    height: 5vh;
    font-weight: 750;
    border-radius: 2px;
  }

}

footer{
  height: 8vh;
  background-color: black;
}